
.sidebar {
  float:right;
  display: block;
  width: 300px;
}

html {
  overflow-x: hidden;
  height: initial !important;
}

/* Semantic UI Sidebar fix */
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

/* Style */
body {
    background-color: #F5F5F5;
    font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

body.pushable {
  background-color: #F5F5F5 !important;
}

body.pushable .pusher {
  background-color: #F5F5F5 !important;
}
.main.container {
    margin-top: 2em;
}
.main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}
.main.menu .item {
    font-weight: 100 !important;
    padding: 8px 15px 8px 10px !important;
}
.main.menu .item img.logo {
    margin-right: 1.5em;
}
.main.menu.fixed .progress {
    visibility: visible !important;
}
.ui.progress.success .bar {
  background-color: #004ea2 !important
}
.right.menu .item {
    padding: 0 !important;
}

.sidebar .item {
    font-weight: 100 !important;
    padding: 0.528571em 1.14285714em !important;
    margin-top: 10px;
}

.sidebar .ui.center.aligned.page.grid .ui a.item {
    padding-right: 0.6em !important;
}

.overlay {
    float: left;
    margin: 0em 3em 1em 0em;
}
.overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}
.main.menu.fixed {
    background-color: #FFFFFF;
    /* border: 1px solid #DDD; */
    left: 0;
    right: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
    left: 800px;
}
.text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

/* Footer */

.footer {
  margin-bottom: 70px;
}

.footer .ui a.item {
  color:rgba(0,0,0,0.3);
  font-size:1.5em;
  padding-right:0.6em;
}

/* Sidebar Backdrop */
.backdrop {
  /*-webkit-backdrop-filter: blur(8px);*/
}

/* Gradient Background */
.gradient {
    background: rgb(8, 207, 188) !important;
    background: -moz-linear-gradient(left, rgba(8, 207, 188, 1) 0%, rgba(0, 78, 162, 1) 100%) !important;
    background: -webkit-linear-gradient(left, rgba(8, 207, 188, 1) 0%, rgba(0, 78, 162, 1) 100%) !important;
    background: linear-gradient(to right, rgba(8, 207, 188, 1) 0%, rgba(0, 78, 162, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#08cfbc', endColorstr='#004ea2', GradientType=1) !important;
}
.gradient-transparent {
    background: rgb(8, 207, 188) !important;
    background: -moz-linear-gradient(left, rgba(8, 207, 188, 0.9) 0%, rgba(0, 78, 162, 0.9) 100%) !important;
    background: -webkit-linear-gradient(left, rgba(8, 207, 188, 0.9) 0%, rgba(0, 78, 162, 0.9) 100%) !important;
    background: linear-gradient(to right, rgba(8, 207, 188, 0.9) 0%, rgba(0, 78, 162, 0.9) 100%) !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#08cfbc', endColorstr='#004ea2', GradientType=1) !important;
}
.gradient-transparent-vertical {
    background: rgb(8, 207, 188) !important;
    background: -moz-linear-gradient(top, rgba(8, 207, 188, 0.95) 0%, rgba(0, 78, 162, 0.95) 100%) !important;
    background: -webkit-linear-gradient(top, rgba(8, 207, 188, 0.95) 0%, rgba(0, 78, 162, 0.95) 100%) !important;
    background: linear-gradient(to bottom, rgba(8, 207, 188, 0.95) 0%, rgba(0, 78, 162, 0.95) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#08cfbc', endColorstr='#004ea2', GradientType=0) !important;
}

.fa-times-thin:before {
    content: '\00d7';
}

/* Sidebar - Hot */

.block {
  position: relative;
  margin-bottom: 20px;
}

.block-header {
  width:300px;
  height:180px;
  margin-bottom: 5px;
  background-color: #FFF;
  background-size: cover;
}

.block-body {
  width:300px;
  background-color:#FFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding:10px;
}

.block-body p {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.block-cat {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 2px;
  background-color: #004ea2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  height: 30px;
  font-family: 'Songti TC', SimSun, serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  padding: 0 7px;
}

.block-cat.right {
  top: 15px;
  left: auto !important;
  right: 15px !important;
}

.block-rank {
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(135deg, #00cfbd, #004ea2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 45px;
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 1.9px;
  text-align: center;
  color: #ffffff;
}

ul.latest {
  list-style: none;
  padding:0;
  margin:0;
  margin-left: 19px;
}

ul.latest li {
  text-indent: 0;
  padding-left: 16px;
  text-indent: -30px;
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

ul.latest li:before {
  content: "\00b7";
  color: #004ea2;
  font-size:30px;
  font-weight: bold;
  top: 6px;
  position: relative;
}

ul.latest li a {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: rgba(0, 0, 0, 0.8);
}

.separator {
  display:inline-block;
  margin:4px 10px;
  border-radius:5px;
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.cat-label {
  display: inline-block;
  text-indent:0;
}
.cat-label span {
  font-family: 'Songti TC', SimSun, serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  text-align: right;
  color: #004ea2;
}

/* Related Topic Style*/

.related-block {
  display:block;
  overflow:hidden;
  position:relative;
  margin-bottom: 25px;
}

.related-img {
  position:absolute;
  left:0;
  width:140px;
  height:140px;
}

.related-date {
  position:absolute;
  left:0;
  top:155px;
  width:140px;
  font-family: Times;
  font-size: 15px;
  font-style: italic;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.related-content {
  float: right;
  width: 460px;
  background-color: #FFF;
  padding:20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2px;
}

.related-content h2 {
  margin-bottom:0;
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.8);
}

.related-content .line {
  width:420px;
}

.related-content p {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: rgba(0, 0, 0, 0.7);
}

.related-content .brief {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: rgba(0, 0, 0, 0.7);
}

.related-content div.author {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.related-cat {
  position:absolute;
  bottom:0;
  right:0;
  margin: 0 20px;
  padding: 0 2px;
  padding-bottom: 15px;
  border-bottom: 3px #145CA9 solid;
  font-family: 'Songti TC', SimSun, serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px; color: #004ea2;
}

/* choice Topic Style*/

.choice-main {
  max-width:940px;
}

.choice-block {
  display:block;
  overflow:hidden;
  position:relative;
  margin-bottom: 25px;
}

.choice-img {
  position:absolute;
  left:0;
  width:380px;
  height:280px;
}

.choice-img.right {
  left:auto;
  right:0;
}

.choice-cat {
  position:absolute;
  left:20px;
  top:20px;
  border-radius: 2px;
  background-color: #004ea2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  height: 30px;
  font-family: 'Songti TC', SimSun, serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  padding: 0 8px;
}

.choice-cat.right {
  left:auto;
  right:20px;
  top:20px;

}

.choice-meta {
  position:absolute;
  right:0;
  top:285px;
  width:540px;
  text-align: right;
  vertical-align: bottom;
}

.choice-meta.left {
  position:absolute;
  left:0;
  top:285px;
  width:540px;
  text-align: left;
  vertical-align: bottom;
}

.choice-meta .author {
  display: inline-block;
  font-family: 'Songti TC', 'SimSun', serif;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);}

.choice-meta .date {
  display: inline-block;
  font-family: Times;
  font-size: 15px;
  font-style: italic;
  line-height: 1.3;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
}

.choice-content {
  float: right;
  width: 540px;
  height: 280px;
  background-color: #FFF;
  padding:15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 55px;
  overflow: hidden;
}

.choice-content.left {
  float: left;
}

.choice-content h2 {
  margin-bottom:0;
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.8);
}

.choice-content .line {
  width: 540px;
  height: 5px;
  margin-left:-15px;
  background-color: #ebebeb;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.choice-content .brief {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: rgba(0, 0, 0, 0.7);
  height: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-choice-img {
  width: 300px;
  height: 180px;
  margin-bottom: 10px;
  background-color: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.column-choice-content {
  width: 300px;
  /*height: 220px;*/
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
}

.column-choice-content h2 {
  padding: 10px 10px 2px 10px;
  margin-bottom:0;
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.8);
}

.column-choice-content .line {
  width: 300px;
  height: 5px;
  background-color: #ebebeb;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 0px;
}

.column-choice-content .brief {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.column-choice-meta {
  margin-top: 10px;
  width:300px;
  text-align: center;
  vertical-align: bottom;
}

.column-choice-meta.left {
  position:absolute;
  left:0;
  top:285px;
  width:540px;
  text-align: left;
  vertical-align: bottom;
}

.column-choice-meta .author {
  display: inline-block;
  font-family: 'Songti TC', 'SimSun', serif;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
}

.column-choice-meta .date {
  display: inline-block;
  font-family: Times;
  font-size: 15px;
  font-style: italic;
  line-height: 1.3;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
}

/* Tags Style */

.tags {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 17px;
  line-height: 2.1;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  clear: both;
}

.tags a {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 17px;
  line-height: 2.1;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
}


div.ui.text.container.article-header {
  max-width: 780px !important;
  padding-top:2em;
}

/*
   Article Style Components
*/

/* Brief Style */
article .brief p{
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.7);
}
/* Paragrah Style */
article p {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.9);
}

/* Unordered List Style */
article ul {
  list-style: none;
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 16px;
  line-height: 2.2;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 26px;
  text-indent: -26px;
  margin-left: 16px;
}
article ul li:before {
  content: "• ";
  color: #004ea2;
  font-size:30px;
  line-height: 1;
  top: 6px;
  position: relative;
}

article h1, h2 {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: rgba(0, 0, 0, 0.8);
}

/* Ordered List Style */
article ol {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 16px;
  line-height: 2.2;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.7);
  counter-reset: item;
}
article ol li { display: block; }
article ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #004ea2;
  padding-left:10px;
  padding-right:10px;
  line-height: 1;
}

article code {
  display: block;
  margin-bottom: 5px;
}

article div.img {
  margin-bottom: 35px;
}
article div.img.left {
  width: 300px;
  float: left;
  margin-right: 20px;
}
article div.img.right {
  width: 300px;
  float: right;
  margin-left: 20px;
}
article div.img .caption {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #004ea2;
}

article blockquote.quote {
  font-family: 'Songti TC', SimSun, serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 20px;
  border-left: solid 5px #004ea2;
  margin-bottom: 25px;
  clear: both;
}

article blockquote.blockquote {
  margin-bottom: 35px;
  clear: both;
}

article blockquote .quote-body {
  font-family: 'Songti TC', SimSun, serif;
  font-size: 24px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  background-image: url('/story/img/icon/blockquote-start.png'), url('/story/img/icon/blockquote-end.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  padding: 10px 60px;
}
article blockquote .quote-by {
  font-family: 'Songti TC', SimSun, serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.3px;
  color: #004ea2;
  margin-left: 40px;
  padding-left: 20px;
  padding-top: 14px;
  border-left: solid 5px rgba(0, 0, 0, 0.1);
  margin-top: -15px;
}

article .info-box-container {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 25px 30px;
  margin-bottom: 45px;
  clear: both;
}
article .info-box-container .info-box-title {
  text-align: center;
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.9);
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}
article .info-box-container .info-box-body {
  font-size: 16px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
}

article .info-box-container .info-box {
  position: absolute;
  top: 18px;
  width: 50px;
  height: 20px;
  left: -10px;
  border-radius: 3px;
  background-color: #004ea2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

article abbr {
  background-color: rgba(0, 77, 162, 0.1);
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

article .annotation-btn {
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  margin-bottom: -12px;
  margin-left: -4px;
  margin-right: -8px;
  width: 30px;
  height: 30px;
  background: url('/story/img/icon/annotation@2x.png') no-repeat;
  background-size: contain;
}

article .annotation-btn:hover {
  background: url('/story/img/icon/opened@2x.png') no-repeat;
  background-size: contain;
}

article .annotation-btn:hover + div.annotation-box {
  display: table;
}

article .annotation-box {
  display: none;
  margin: 0 auto;
/*  position: absolute; leave this and next 3 values alone
  z-index: 1000;*/
  padding: 10px;
  width: 460px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-bottom: solid 5px #004ea2;
}

article .audio-box {
  margin: 0 auto;
  width: 100%;
  overflow: auto;
  padding-bottom: 15px;
  clear: both;
}
article .audio-container {
  float: right;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: auto 10px 10px 10px;
}
article .audio-container .audio-title {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  /*border-bottom: solid 1px rgba(0, 0, 0, 0.15);*/
}
article .audio-container .audio-desc p {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  word-break: break-all;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
article .audio-box .audio-cover {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: #004ea2;
  background-image: url('/story/img/icon/audio@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
article .audio-box .audio-cover .audio-btn {
  position: absolute;
  width: 45px;
  height: 45px;
  cursor: pointer; cursor: hand;
  top:0; bottom:0; left:0; right:0; margin:auto;
}
article .audio-box .audio-cover .audio-btn.play {
  background-image: url('/story/img/icon/pause-btn@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
article .audio-box .audio-cover .audio-btn.pause {
  background-image: url('/story/img/icon/play-btn@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
article .audio-container .audio-progress {
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  position: relative;
}
article .audio-container .audio-progress input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 2px;
  height: 5px;
  margin-top: 0px;
  outline: none;
  position: absolute;
  width: 200px;
}
article .audio-container .audio-progress .bar {
  height: 5px;
  background-color: #004ea2;
}
article .audio-container .audio-time {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  text-align: right;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-right: 10px;
}

article .aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  margin-top: 20px;
  margin-bottom: 10px;
  clear: both;
}
article .aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*
  Article Style Components - Slideshow
*/

article {
  max-width: 620px;
  margin: 0 auto;
}
article .slideshow-box {
  position: relative;
  width: 100%;
  max-width: 700px !important;
  margin: 0 auto;
  border-bottom: solid 5px #004ea2;
  margin-bottom: 45px;
  clear: both;
}
article .slideshow-box .slideshow-thumbs {
  position: relative;
    margin-top: 10px;
    padding: 15px 0;
    background-color: #ffffff;
    width: calc(100% - 140px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
article .slideshow-box .slideshow-thumbs .owl-stage-outer {
  margin: 15px 0;
}
article .slideshow-box .slideshow-thumbs .owl-controls {
  margin-top: 0;
    margin-right: -140px;
    height: 100%;
  position: absolute;
    top: 0;
    right: 0;
}
article .slideshow-box .slideshow-thumbs .owl-nav {
  float: right;
    width: 140px;
    height: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    margin-top:0;
}
article .slideshow-box .slideshow-thumbs .owl-item > div {
  cursor: pointer;
  opacity: .5;
}
article .slideshow-box .slideshow-thumbs .owl-item .displaying {
  opacity: 1;
}
article .slideshow-box .slideshow-thumbs .displaying {
  border: solid 2px #004ea2;
}
article .slideshow-box .slideshow-thumbs .owl-controls .owl-prev {
  background: #FFF;
  background: url('/story/img/icon/left@2x.png') no-repeat center center !important;
  background-size: contain !important;
  width: 30px;
  height: 30px;
  padding: 0 !important;
  margin: 0 !important;
  margin-right: 10px !important;
}
article .slideshow-box .slideshow-thumbs .owl-controls .owl-next {
  background: #FFF;
  background: url('/story/img/icon/right@2x.png') no-repeat center center !important;
  background-size: contain !important;
  width: 30px;
  height: 30px;
  padding: 0 !important;
  margin: 0 !important;
}
article .slideshow-box .owl-dots {
  display: none;
}
article .slideshow-box .slideshow-caption {
  margin: 10px 0;
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.5);
}
article .slideshow-box .slideshow-indicator {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  height: 40px;
  background-color: #004ea2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.7px;
  line-height: 2.2;
  color: #ffffff;
  padding: 2px 18px;
}

/*
  Article Large
*/

article.large .brief p {
  font-size: 18px;
}
article.large p {
  font-size: 20px;
}
article.large ul, article.large ol {
  font-size: 18px;
}
article.large h1, h2 {
  font-size: 32px;
}
article.large div.img .caption {
  font-size: 17px;
}
article.large blockquote.quote {
  font-size: 20px;
}
article.large .slideshow-box .slideshow-caption {
  font-size: 17px;
}

/*
  Article Small
*/

article.small .brief p {
  font-size: 14px;
}
article.small p {
  font-size: 16px;
}
article.small ul, article.small ol {
  font-size: 14px;
}
article.small h1, h2 {
  font-size: 28px;
}
article.small div.img .caption {
  font-size: 13px;
}
article.small blockquote.quote {
  font-size: 16px;
}
article.small .slideshow-box .slideshow-caption {
  font-size: 13px;
}

/*
  Font Sizer
*/

.chooseFontsize .ui.grid {
  align-items: flex-end !important;
}

.chooseFontsize .column {
  padding: 0 !important;
}

.font-larger {
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  background: url('/story/img/icon/font-size-tc-thin-larger@2x.png') no-repeat center center;
  background-size: contain;
  width:35px !important;
  height:35px;
}
.font-medium {
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  background: url('/story/img/icon/font-size-tc-thin-larger@2x.png') no-repeat center center;
  background-size: contain;
  width:28px !important;
  height:28px;
}
.font-small {
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  background: url('/story/img/icon/font-size-tc-thin-larger@2x.png') no-repeat center center;
  background-size: contain;
  width:20px !important;
  height:20px;
}
.font-larger.active, .font-medium.active, .font-small.active {
  background: url('/story/img/icon/font-size-tc-thin-active@2x.png') no-repeat center center;
  background-size: contain;
}
.font-larger.mobile {
  width:60px !important;
  height:60px;
}
.font-medium.mobile {
  width:48px !important;
  height:48px;
}
.font-small.mobile {
  width:35px !important;
  height:35px;
}
/*
   Article Style
*/
.article-title {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1.9px;
  margin-bottom: 10px;
}
.article-subtitle {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0;
}
.article-author {
  float: left;
}

.article-meta {
  vertical-align: text-bottom;
}

.article-category {
  float: left;
  margin:0;
  padding: 0 0.5em;
  color: #145CA9;
  font-family: 'Songti TC', 'SimSun', serif;
  border-bottom: 3px #145CA9 solid;
  font-size: 22px;
  letter-spacing: 1.5px;
  font-weight:100;
  vertical-align: bottom;
}

.article-date {
  float: right;
  margin:0;
  font-size:17px;
  letter-spacing: 1.1px;
  line-height: 31px;
  font-family: times;
  font-style: italic;
}

.article-credit {
  font-family: 'Songti TC', SimSun, serif;
  font-size: 17px;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

article hr {
  background: rgb(8, 207, 188) !important;
  background: -moz-linear-gradient(left, rgba(8, 207, 188, 1) 0%, rgba(0, 78, 162, 1) 100%) !important;
  background: -webkit-linear-gradient(left, rgba(8, 207, 188, 1) 0%, rgba(0, 78, 162, 1) 100%) !important;
  background: linear-gradient(to right, rgba(8, 207, 188, 1) 0%, rgba(0, 78, 162, 1) 100%) !important;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#08cfbc', endColorstr='#004ea2', GradientType=1) !important;
  display:block;
  border:none;
  height:5px;
  margin:40px 0;
}

article img {
  position: relative;
  vertical-align: middle;
  background-color: transparent;
  max-width: 100% !important;
  width: 100%;
}

article .embedded-title {
  font-family: 'Noto Sans TC','Apple LiGothic Medium',STHeiti,'微軟正黑體','Microsoft JhengHei',sans-serif;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: .3px;
  color: rgba(0,0,0,0.5);
  margin-bottom: 30px;
  padding-bottom: 10px;
  /*border-bottom: solid 2px #004ea2;*/
}

article .embedded img {
	width: auto;
}

.ui.menu .item{
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.ui.menu a.item:hover{
  background: transparent !important;
}

.item h2 {
  display:inline-block;
  letter-spacing: 1.9px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin:0;
}

.video-wrapper {
    display:table;
    width:auto;
    position:relative;
    width:100%;
}

.video-wrapper video {
  object-fit: cover;
}

.playpause {
    background-image:url('/story/img/icon/play-btn@3x.png');
    background-repeat:no-repeat;
    width:30%;
    height:30%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

.heroimg-caption {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 35px;
}

div.author {
  clear: both;
}

div.author hr {
  max-width: 620px;
  border: 0;
  height: 1px;
  background: rgba(34,36,38,.15);
}

.author-name {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1.5px;
}
p.author-mail {
  float:right;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 1px;
  color: #004ea2;
}
.author-bio {
  font-size: 17px;
  line-height: 1.6;
  letter-spacing: 1px;
}

h2.colorTitle {
  display:inline-block;
  color:#014EA2;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  vertical-align: middle;
}

div.colorBlock {
  display:inline-block;
  border-radius: 2px;
  background-color:#014EA2;
  width:10px;
  height:22px;
  vertical-align: middle;
  margin-bottom:2px;
  margin-right:10px;
}

div.colorBlock.hot {
  background-color: #004ea2;
  margin-left:20px;
  margin-right:0;
}

div.colorBlock.choice {
  background-color: #004ea2;
  margin-left:0;
  margin-right:20px;
}

.oval {
  vertical-align: middle;
  display:inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left:15px;
}

.sidebar .item {
  padding: 0 !important;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.sidebar .item.section {
  padding-bottom:20px !important;
  font-size: 18px;
  letter-spacing: 1.7px;
}

.line {
  display:inline-block;
  margin-top: 13px;
  margin-bottom: 13px;
  width: 456px;
  height: 2px;
  border: solid 1px rgba(0, 0, 0, 0.15);
}

.blue-line {
  width: 300px;
  height: 5px;
  background-color: #004ea2;
}

.hot-topic {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.7);
}

.choice-topic {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.7);
}

.ui.grid>.column{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Menu */

.chooseFontsize {
  width:200px;
  background-color: rgba(0, 0, 0, 0.02);
  border-left:solid 1px rgba(0, 0, 0, 0.15);
  border-right:solid 1px rgba(0, 0, 0, 0.15);
}

.computer .main.menu .chooseSharing.item,
.tablet .main.menu .chooseSharing.item {
  width:265px;
  background-color: rgba(0, 0, 0, 0.02);
  border-left:solid 1px rgba(0, 0, 0, 0.15);
  border-right:solid 1px rgba(0, 0, 0, 0.15);
  padding: 0 !important;
}

/* Related Style */

.related {
  max-width:620px;
  margin:2em auto;
  position:relative;
}

/* Categories Style */

.category-button {
  display: block;
  width: 140px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 40px;
  font-family: 'Songti TC', SimSun, serif;
  font-size: 20px;
  letter-spacing: 1.3px;
  color: #004ea2;
  margin-bottom: 10px;
}

/* Computer */

.computer .sticky-menu {
  margin-top: 0px !important;
  margin-bottom: -70px !important;
  visibility: hidden;
}

.computer .sticky-menu.fixed {
  margin-top: 0px !important;
  visibility: visible;
}

.computer .first-menu {
  border: none;
  box-shadow: none;
  margin:0;
  display:block !important;
  height:60px;
  /*-webkit-backdrop-filter: blur(8px);*/
  /*backdrop-filter: blur(8px);*/
  background-color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 #ffffff !important;
}

.computer .main.menu .item {
  cursor: pointer; cursor: hand;
  padding: 0 15px 0 15px !important;
}

.computer .first-menu .second-menu {
  /*-webkit-backdrop-filter: blur(8px);*/
  /*backdrop-filter: blur(8px);*/
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 #ffffff;
}

.computer .first-menu .second-menu .line {
  display: block;
  width: 720px;
  height: 2px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.computer .second-menu hr {
  max-width: 620px;
  border: 0;
  height: 1px;
  background: rgba(34,36,38,.15);
}

.computer .searchbar {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 75px;
  font-weight: 500;
  letter-spacing: 11.2px;
  text-align: right;
  color: rgba(0, 0, 0, 0.1);
}

.openSidebar {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.9px;
  color: #ffffff;
}

/* Tablet */

.tablet .first-menu {
  border: none;
  box-shadow: none;
  margin:0;
  display:block !important;
  height:70px;
  /*-webkit-backdrop-filter: blur(8px);*/
  /*backdrop-filter: blur(8px);*/
  background-color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 #ffffff !important;
}

/* scroll fix */
.tablet .first-menu {
  position: fixed;
  z-index: 101;
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 70px;
}

.tablet .first-menu .second-menu {
  /*-webkit-backdrop-filter: blur(8px);*/
  /*backdrop-filter: blur(8px);*/
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 #ffffff;
}

.tablet .first-menu .second-menu .line {
  display: block;
  width: 720px;
  height: 2px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.tabelet .second-menu hr {
  max-width: 620px;
  border: 0;
  height: 1px;
  background: rgba(34,36,38,.15);
}

.tablet .logo.centered {
  /*pointer-events: none;*/
  position:fixed;
  top:15px;
  /*width:100%;*/
  left: calc(50% - 48px);
  text-align:center;
}

.tablet .header.item {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 17px;
  letter-spacing: 1.6px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3) !important;
}

.tablet .main.menu {
  margin-top:0px;
}

.tablet .main.menu .item {
  cursor: pointer; cursor: hand;
  padding: 0 15px 0 15px !important;
}

.tablet .searchbar {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 75px;
  font-weight: 500;
  letter-spacing: 11.2px;
  text-align: right;
  color: rgba(0, 0, 0, 0.1);
}

/* Mobile Style */
.mobile .first-menu {
  border: none;
  box-shadow: none;
  margin:0;
  display:block !important;
  height:60px;
  /*-webkit-backdrop-filter: blur(8px);*/
  /*backdrop-filter: blur(8px);*/
  background-color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 #ffffff !important;

}

/* scroll fix */
.mobile .first-menu {
  position: fixed;
  z-index: 101;
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.mobile .first-menu .second-menu {
  /*-webkit-backdrop-filter: blur(8px);*/
  /*backdrop-filter: blur(8px);*/
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 #ffffff;
}

.mobile .first-menu .second-menu .line {
  display: block;
  width: 720px;
  height: 2px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.mobile .second-menu hr {
  max-width: 620px;
  border: 0;
  height: 1px;
  background: rgba(34,36,38,.15);
}


.mobile .main.menu .item {
  cursor: pointer; cursor: hand;
  padding: 0 10px 0 10px !important;
}

.mobile .header.item {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 17px;
  letter-spacing: 1.6px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3) !important;
}

.mobile .logo.centered {
  /*pointer-events: none;*/
  position:fixed;
  top:9px;
  /*width:100%; */
  left: calc(45% - 48px);
  text-align:center;
}

.mobile .searchbar {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 5px;
  text-align: right;
  color: rgba(0, 0, 0, 0.1);
}

.mobile .fontsize {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 5px;
  text-align: right;
  color: rgba(0, 0, 0, 0.1);
}

/* icon & Sharing */

.nav .item img {
   width:24px !important;
   height:24px;
   vertical-align: bottom;
}

.article-sharing .sharing-item {
  display: inline-block;
  margin-right: 55px;
}

.hide {
  display: none;
}

/* style for DFP */
.ad-container.inline-block{
  display: inline-block;
  padding-right: 0.5em;
}
.ad-container.margin-bottom{
  text-align: center;
  margin-bottom: 2em;
}
.ad-container.margin-top{
  margin-top: 2em !important;
}

/* Mobile */

@media only screen and (max-width: 767px) {
    .mobile-hide{
        display: none !important;
    }
    .headerMenu {
      margin-bottom: 70px !important;
    }
    div.ui.text.container.article-header {
      padding-top: 10px;
    }
    .category-button {
      margin:0 auto;
    }
    .article-title {
      font-size: 36px;
      font-weight: bold;
      line-height: 1.3;
      letter-spacing: 1.5px;
      color: rgba(0, 0, 0, 0.8);
    }

    .article-subtitle {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.8;
    }

    article p {
      font-size: 17px;
      line-height: 2;
    }

    img.heroimg {
      background-color: transparent;
      width: 100%;
      max-width: 100% !important;
    }

    .related-block {
      margin: 0 auto;
      margin-bottom:10px;
      width: 300px;
    }

    .related-img {
      height: 60px;
      background-size: cover;
      width: 60px;
      margin-top: 15px;
    }

    .related-content {
      padding-left: 80px;
      height: auto;
      width: 300px;
    }

    .related-content h2 {
      font-size:20px;
      letter-spacing: 1px;
      margin-bottom: 17px;
    }

    .related-content .line, .related-content .brief, .related-date {
      display: none;
    }

    .related-content div.author {
      color: rgba(0, 0, 0, 0.5);
    }

    .related-cat {
      margin-right:17px;
    }

    .choice-block {
      margin: 0 auto;
      width: 300px;
      position: relative;
      margin-bottom: 35px;
    }
    .choice-img {
      width: 300px;
      height: 180px;
      position: initial;
    }
    .choice-cat.right {
      right: auto;
      left: 20px;
      top: 20px;
    }
    .choice-meta, .choice-meta.left {
      float: none;
      top: auto;
      position: static;
      width: 300px;
      text-align: center;
    }
    .choice-content, .choice-content.left{
      float: none;
      height: auto;
      width: 300px;
      margin-top: 5px;
      position: initial;
      padding: 15px;
      margin-bottom: 5px;
    }
    .choice-content h2 {
      font-size: 20px;
    }
    .choice-content .brief, .choice-content .line {
      display: none;
    }
    .column-choice-img {
      margin-bottom: 5px;
    }
    .column-choice-content {
      height: auto;
      padding-bottom: 10px;
    }
    .article-sharing .sharing-item {
      margin-right: 35px;
    }

    .choiceHeader {
      max-width: 300px;
      margin: 0 auto !important;
      padding-left: 10px !important;
    }

    div.colorBlock.hot,
    div.colorBlock.choice {
      margin-right: 10px;
    }

    .hot-topic {
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 2px;
      color: #004ea2;
    }

    p.author-mail {
      margin-top: 15px;
      float: none !important;
    }

    .categories {
      width: 300px;
      margin: 0 auto !important;
    }

    article ol, article ul {
      padding-left: 0;
    }
    article div.img.left, article div.img.right {
      width: 100%;
    }
    article .annotation-box {
      width: 100%;
    }
    article blockquote.blockquote {
      margin-left: 0;
      margin-right: 0;
    }
    article blockquote .quote-body {
      padding: 20px 30px;
    }
    article blockquote.quote {
      margin: 0 0 45px 0;
    }
    article .audio-box {
      width: 100%;
    }
    article .audio-container {
      width: 100%;
    }
    article .audio-desc {
      display: none;
    }
    /*article .audio-box .audio-cover {
      width: 100%;
      margin-bottom: 5px;
    }*/

    article .slideshow-thumbs {
      display: none !important;
    }
    article .owl-controls {
        margin-top: 10px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }
    article .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
    }
    article .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        margin: 5px 7px;
        background: rgba(0, 0, 0, 0.1);
        display: block;
        -webkit-backface-visibility: visible;
        -webkit-transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        -ms-transition: opacity 200ms ease;
        -o-transition: opacity 200ms ease;
        transition: opacity 200ms ease;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
    article .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
        background: #004ea2;
    }
    article .slideshow-box .slideshow-indicator {
      display: none !important;
    }
    article .slideshow-box .slideshow-caption {
      margin-top: 0 !important;
    }

    .fontsize .ui.grid>.row {
      align-items: flex-end;
    }

    .fontsize .font-larger.active:after {
      position: relative;
      top: 65px;
      content: '\00b7';
      color: #004ea2;
    }
    .fontsize .font-medium.active:after {
      position: relative;
      top: 53px;
      content: '\00b7';
      color: #004ea2;
    }
    .fontsize .font-small.active:after {
      position: relative;
      top: 40px;
      content: '\00b7';
      color: #004ea2;
    }

    /* style for DFP mobile */
    .ad-container.mb-margin-fit{
      text-align: center;
      margin-right: -1em;
      margin-left: -1em;
    }
    .ad-container.margin-top-fit{
      margin-top: -2em;
    }
    .mb-ad-cover .mb-ad-modal{
      background-color: grey;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      z-index: 998;
      opacity: 0.9;
    }
    .mb-ad-cover .ad-container{
      position: fixed;
      z-index: 999;
      width: 100%;
      top: 50vh;
      margin-top: -240px;
    }
    .mb-ad-cover .ad-container .ad-close{
      position: absolute;
      top: -15px;
      width: 100%;
      z-index: 999;
      height: 45px;
    }
    .mb-ad-cover .ad-container .ad-close .ad-close-btn{
      width: 320px;
      margin: 0 auto;
      text-align: right;
      line-height: 1.5em;
      height: 100%;
    }
    .mb-ad-cover .ad-container .ad-close .ad-close-btn .close-btn{
      /*background-color: black;
      color: #ffffff;*/
      /*padding: 5px;*/
      font-size: 1.5em;
      float: right;
      display: block;
      height: 100%;
      padding: 0;

      padding: 0;
      width: 45px;
      height: 45px;

    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-hide{
      display: none !important;
    }
    .headerMenu {
      margin-bottom: 70px !important;
    }
    .article-header {
      width: 540px !important;
    }
    .ui.text.container.article-container {
      max-width: 540px !important;
    }
    img.heroimg {
      position: relative;
      vertical-align: middle;
      background-color: transparent;
      width: 120%;
      margin: 0px -10%;
      max-width: 940px !important;
    }
    .related-block {
      width: 540px;
    }
    .related-content {
      width: 380px;
    }
    .related-content .line {
      width: 350px;
    }
    .choice-main {
      max-width:700px;
    }
    .choice-content {
      width: 300px;
    }
    .choice-content .line {
      width: 300px;
    }
    .ui.text.container.footer {
      max-width: 700px!important;
    }

    .ui.three.column.stackable.grid .column {
      margin: 0 auto;
      width: 700px;
    }
    .choice-block {
      margin: 0 auto;
      width: 700px;
      padding-bottom: 2px;
      padding-right: 2px;
      overflow: hidden;
    }
    .column-choice-img {
      position: absolute;
      background-size: cover;
      left: 0;
      top: 0;
      height: 180px;
      margin-bottom: 5px;
    }
    .column-choice-content {
      float: right;
      height: 180px;
      width: 380px;
    }
    .column-choice-content .line {
      width: 380px;
    }
    .column-choice-content .brief {
      -webkit-line-clamp: 3;
      height: calc(15px*3*1.7);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .column-choice-meta {
      float: right;
      width: 700px;
      text-align: right;
      margin-top: 5px;
    }

    .ui.grid>[class*="three column"].doubling.row.row>.column, .ui.grid>[class*="four column"].doubling.row.row>.column, .ui[class*="three column"].doubling.grid>.column:not(.row), .ui[class*="three column"].doubling.grid>.row>.column, .ui[class*="four column"].doubling.grid>.column:not(.row), .ui[class*="four column"].doubling.grid>.row>.column {
      width: 25% !important;
    }

    .categories {
      width: 700px;
      margin: 0 auto !important;
    }

    .categories .doubling.grid {
      width: 700px;
      margin: 0 auto;
    }

    article div.img.left {
      margin-left: -80px;
    }

    article div.img.right {
      margin-right: -80px;
    }

    /* style for DFP tablet */
    .ad-container.tb-margin-fit{
      margin: 0 auto;
      max-width: 320px;
    }
    .tb-ad-cover .tb-ad-modal{
      background-color: grey;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      z-index: 998;
      opacity: 0.9;
    }
    .tb-ad-cover .ad-container{
      position: fixed;
      z-index: 999;
      width: 100%;
      top: 50vh;
      margin-top: -240px;
    }
    .tb-ad-cover .ad-container .ad-close{
      position: absolute;
      top: -15px;
      width: 100%;
      z-index: 999;
      height: 45px;
    }
    .tb-ad-cover .ad-container .ad-close .ad-close-btn{
      width: 320px;
      margin: 0 auto;
      text-align: right;
      line-height: 1.5em;
      height: 100%;
    }
    .tb-ad-cover .ad-container .ad-close .ad-close-btn .close-btn{
      /*background-color: black;*/
      /*color: #ffffff;*/
      padding: 5px;
      font-size: 1.5em;
      float: right;
      display: block;
      height: 100%;

      padding: 0;
      width: 45px;
      height: 45px;
    }

}

/* Computer */

@media only screen and (min-width: 992px) {
    .computer-hide{
      display: none !important;
    }
    .article-header {
      width: 780px !important;
    }

    .ui.text.container.article-container {
      max-width: 940px !important;
      display: table;
      overflow: inherit;
    }

    .article-main {
      width:620px;
      display: inline-block;
    }

    img.heroimg {
      position: relative;
      vertical-align: middle;
      background-color: transparent;
      width: 100%;
      max-width: 940px !important;
    }
    .ui.text.container.footer {
      max-width: 940px!important;
    }
    .choice .ui.grid {
      margin: 0;
    }
}
